/* --------- */
/* Footer */
/* --------- */
.footer-copyright {
  width: 30vw;
  margin-left: 2vw;
  color: aliceblue;
}
.footer {
  position: fixed;
  bottom: 0;

  padding: 0 0.6vw !important;

  font-size: 3vh;

  width: 100vw;
  vertical-align: middle;
}
/*  

.footer-icons > ul {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 3vh;
}
.footer-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3vh;
  margin-right: 2vw;
} */

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}
