/* --------- */
/* Footer */
/* --------- */
.footer-copyright {
  width: 30vw;
  margin-left: 2vw;
  color: aliceblue;
  display: inline-block;
}
/* .footer {
  position: fixed;
  bottom: 0;

  margin-bottom: 0.2vh !important;
  font-size: 2vh;

  width: 100vw;
  vertical-align: middle;
}

.footer-icons > ul {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 3vh;
}
.footer-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3vh;
  margin-right: 2vw;
} */

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar {
  background: #000;
  display: flex;
  position: sticky;
  max-width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.icons {
  justify-self: end;
  display: inline-flex;
  margin-right: 0%;
  justify-content: flex-end;
  /* width: max-content; */
}
